[submodule "my-blog/themes/hugo-theme-next"]
	path = my-blog/themes/hugo-theme-next
	url = https://github.com/hugo-next/hugo-theme-next.git
[submodule "jesse-blog/themes/hugo-theme-stack"]
	path = jesse-blog/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "jesse-blog/themes/hugo-PaperMod"]
	path = jesse-blog/themes/hugo-PaperMod
	url = https://github.com/JiashuaiXu/hugo-PaperMod.git
[submodule "jesse-blog/content"]
	path = jesse-blog/content
	url = https://github.com/JiashuaiXu/obsidian-notes.git
